@page "{id:int?}"
@model PPTT.Pages.PT.DetailsPPTT

@{
    ViewData["Title"] = "Detalles Pedido de trabajos";
}

<div>
    <div class="page-content">
        <div class="form-alta">
            <div class="formulario">
    <legend>Datos del solicitante</legend>
                <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.IP_Solicitante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.IP_Solicitante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Grado_Fk)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Grado.Descripcion_Grado)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Nombre_Solicitante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Nombre_Solicitante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Apellido_Solicitante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Apellido_Solicitante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.DNI_Solicitante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.DNI_Solicitante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Numero_Control_Solicitante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Numero_Control_Solicitante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.RTI_Solicitante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.RTI_Solicitante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Organismo_Fk)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Organismo.Descripcion_organismo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Dependencia_Interna_Fk)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Dependencia_Interna.Descripcion_Dependencia)
        </dd>
    </dl>
    </div>
    </div>
   
    
        <div class="form-alta">
            <div class="formulario">
    <legend>Datos del Trabajo</legend>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Fecha_Subida)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Fecha_Subida)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Tarea_Fk)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Tarea.Descripcion_Tarea)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Piso_Oficina_PT)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Piso_Oficina_PT)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Color_Oficina_PT)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Color_Oficina_PT)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Numero_Oficina_PT)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PedidoTrabajo.Numero_Oficina_PT)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Prioridad_Fk)
        </dt>
        <dd class="col-sm-8">
            <select asp-for="PedidoTrabajo.ID_Prioridad_Fk"
                    asp-items="@(Model.Prioridad.Select(d => new SelectListItem
                        {
                            Value = d.ID_Prioridad_Pk.ToString(),
                            Text = d.Descripcion_Prioridad,
                            Disabled = d.ID_Prioridad_Pk == Model.PedidoTrabajo.Prioridad.ID_Prioridad_Pk
                        }))"
                    id="prioSelect"
                                class="form-control"
                    data-orden-id="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk">                
            </select>           
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Estado_Fk)
        </dt>
        <dd class="col-sm-8">
            <select asp-for="PrioridadId"
                    asp-items="Model.Estado.Select(d=> new SelectListItem
                                {
                                    Value = d.ID_Estado_PK.ToString(),
                                    Text = d.Descripcion_Estado.ToString(),
                                    Disabled = d.ID_Estado_PK == Model.PedidoTrabajo.Estado.ID_Estado_PK
                                })"
                    id="deptSelect"
                    class="form-control">
                <option hidden selected value="@Model.PedidoTrabajo.Estado.ID_Estado_PK">@Model.PedidoTrabajo.Estado.Descripcion_Estado</option>
            </select>
        </dd>
    </div>
    </div>    
    </dl>
    <div class="modal fade" id="ModalEstFin" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="FinalizarEstado">
                    <div class="modal-header">
                        <h5 class="modal-title" id="FinModalLabel">Finalizar pedido de trabajo</h5>
                    </div>
                    <div class="modal-body">                        
                        <label id="labelFechaFinalizado">Fecha de finalización:</label>
                        <input type="date" id="fechaFinalizacion" disabled />
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                        <br/>
                        <span id="warningMessagePen" class="alert alert-warning">
                            <b>Advertencia</b>: Cambiar el estado de la orden de trabajo a <b>FINALIZADO</b> dará por concluida la orden, y no podrá ser modificada posteriormente.
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="canFin" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO FINALIZADO -->
    <div class="modal fade" id="ModalEstCan" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="CancelarEstadoConMotivo">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CanModalLabel">Cancelar pedido de trabajo</h5>
                    </div>
                    <div class="modal-body">
                        <label id="labelFechaFinalizado">Fecha de cancelacion:</label>
                        <input type="date" id="fechaCan" disabled />
                        <br/>
                        <label id="labelDetalleCancelado">Detalle de la cancelacion:</label>
                        <br />
                        <textarea id="motCan" name="motCan" required></textarea>                        
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                        <br />
                        <span id="warningMessagePen" class="alert alert-warning">
                            <b>Advertencia</b>: Cambiar el estado de la orden de trabajo a <b>CANCELADO</b> anulará la orden, y no se podrán realizar más cambios en ella.
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="canCan" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO CANCELAR -->
    <div class="modal fade" id="ModalEstSus" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="SuspenderEstado">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SusModalLabel">Suspender Pedido de trabajo</h5>
                    </div>
                    <div class="modal-body">
                        <label id="labelFechaInicioSuspension">Fecha inicio de la suspensión:</label>
                        <input type="date" id="fechaInicioSuspendido" disabled />
                        <label id="labelFechaSuspension">Fecha estimada de retomo de trabajo:</label>
                        <br />
                        <input type="date" id="fechaEstimadaFin" name="fechaEstimadaFin" />
                        <br />
                        <label id="labelMotivoSuspension">Motivo de suspensión:</label>
                        <select id="motivo" name="motSus">
                            <option value="Falta De Material">Falta de material</option>
                            <option value="Falta de personal">Falta de personal</option>
                            <option value="Falta de herramientas">Falta de herramientas</option>
                            <option value="Condición riesgosa">Condición riesgosa</option>
                            <option value="A la espera de material">A la espera de material</option>
                        </select>
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="canSus" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO SUSPENDIDO -->
    <div class="modal fade" id="ModalEstPro" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="EnProcesoEstado">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CanModalLabel">Asignar usuario a pedido de trabajo</h5>
                    </div>
                   <div class="modal-body">
                        <p class="text-muted">Por favor, seleccione un usuario para asignar a este pedido de trabajo.</p>
                        <select name="IdUsuario" class="form-control" asp-items="@(new SelectList(Model.Usuarios, "ID_Usuario_Pk", "NombreCompleto"))">
                            <option hidden selected value="">Seleccione un usuario</option>
                        </select>
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="canPro" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO EN PROCESO -->
    <div class="modal fade" id="ModalEstPen" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="PendienteEstado">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CanModalLabel">Cambiar estado a <b>PENDIENTE</b></h5>
                    </div>
                    <div class="modal-body">                       
                        <span id="warningMessagePen" class="alert alert-warning">
                            <b>Advertencia</b>: Cambiar cualquier orden de trabajo a <b>PENDIENTE</b> modificará los datos previamente registrados.
                        </span>
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="canPen" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO PENDIENTE -->
    <div class="modal fade" id="ModalPrioridad" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="SetPrioridad">
                    <div class="modal-header">
                        <h5 class="modal-title" id="PrioModalLabel">CAMBIO DE <b>PRIORIDAD</b></h5>
                    </div>
                    <div class="modal-body">
                        <span id="warningMessagePen" class="alert alert-warning">
                            <b>Advertencia:</b> Estás a punto de cambiar la prioridad de esta orden. Por favor, confirma que deseas proceder.
                        </span>
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                        <input type="hidden" name="PrioridadId" id="PrioridadId" value="" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="canPrio" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
        </div>
    </div>
    </div><!-- VENTANA MODAL DE PRIORIDAD -->
    <!--
    <div id="DescripcionMotivoCancelacion">
        <hr/>
        <h4>Motivo de la Cancelación</h4>
        <table>
            <thead>
                <tr>
                    <th>Fecha y Hora</th> 
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
                @if ((Model.Motivos != null && Model.Motivos.Any()))
                {
                    foreach (var motivo in Model.Motivos)
                    {
                        @if (motivo.ID_Estado_Fk == 1006) 
                        {
                            <tr>
                                <td>@motivo.Fecha</td> 
                                <td>@motivo.motivo</td> 
                            </tr>                        
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">No hay motivos disponibles.</td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="DescripcionMotivoSuspension">
        <hr />
        <h4>Motivo de la Suspensión</h4>
        <table>
            <thead>
                <tr>
                    <th>Fecha y Hora</th>
                    <th>Motivo</th>
                </tr>
            </thead>
            <tbody>
                @if ((Model.Motivos != null && Model.Motivos.Any()))
                {
                    foreach (var motivo in Model.Motivos)
                    {
                        @if (motivo.ID_Estado_Fk == 1005)
                        {
                            <tr>
                                <td>@motivo.Fecha</td>
                                <td>@motivo.motivo</td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="2">No hay motivos disponibles.</td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>-->
    <div>
        <a href="javascript:window.history.back();" class="btn-action">Volver a la Lista</a>
    </div>
    <script src="Motivo
CANCELADOhttps://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            let EstadoOriginalValue = deptSelect.value;
            let PrioridadOriginalValue = prioSelect.value;                      
            $('#DescripcionMotivoSuspension').hide();
            $('#DescripcionMotivoCancelacion').hide();
            if (EstadoOriginalValue == 1005) {
                $('#DescripcionMotivoSuspension').show();
            }
            if (EstadoOriginalValue == 1006) {
                $('#DescripcionMotivoCancelacion').show();
            }
            function VolverAEstadoOriginal (){
                document.getElementById('deptSelect').value = EstadoOriginalValue;
            }
            function VolverAPrioridadOriginal() {
                document.getElementById('prioSelect').value = PrioridadOriginalValue;
            }
            function getTodayDate() {
                var today = new Date();
                var day = ("0" + today.getDate()).slice(-2);
                var month = ("0" + (today.getMonth() + 1)).slice(-2);
                var year = today.getFullYear();
                return year + "-" + month + "-" + day;
            }
            $('#prioSelect').change(function () {
                $('#ModalPrioridad').modal('show');
                const selectedOption = $(this).find("option:selected");
                $('#PrioridadId').val(selectedOption.val())
            })
            $('#deptSelect').click(function(){
                originalValue = deptSelect.value;                             
            })
            $('#deptSelect').change(function () {                
                alert("Advertencia: El usuario que solicito el pedido de trabajo será notificado del cambio de estado.");
                var selectedOption = $(this).val();
                if (selectedOption == 1002) {
                    $('#ModalEstPen').modal('show');
                }
                if (selectedOption == 1003) {
                    $('#ModalEstPro').modal('show');
                }
                if (selectedOption == 1004) {
                    $('#ModalEstFin').modal('show');
                    $('#fechaFinalizacion').val(getTodayDate());
                }
                if (selectedOption == 1005 ) {
                   
                    $('#ModalEstSus').modal('show');
                    $('#fechaInicioSuspendido').val(getTodayDate());
                }
                if (selectedOption == 1006) {
                    $('#ModalEstCan').modal('show');
                    $('#fechaCan').val(getTodayDate());
                }
            });        
            $('#canPen').click(function () {
                VolverAEstadoOriginal();
                $('#ModalEstPen').modal('hide');
            });
            $('#canCan').click(function () {
                VolverAEstadoOriginal();
                $('#ModalEstCan').modal('hide');
            });
            $('#canSus').click(function () {
                VolverAEstadoOriginal();
                $('#ModalEstSus').modal('hide');
            });
            $('#canFin').click(function () {                
                VolverAEstadoOriginal();
                $('#ModalEstFin').modal('hide');
            });
            $('#canPro').click(function () {
                VolverAEstadoOriginal();
                $('#ModalEstPro').modal('hide');
            });
            $('#canPrio').click(function () {
                VolverAPrioridadOriginal()
                $('#ModalPrioridad').modal('hide');
            });
        });
    </script>
   <style>
        #warningMessagePen {
            display: block;
            overflow: auto;
            word-wrap: break-word;
        }

        button {
            display: inline-block;
            text-decoration: none;
            padding: 4px 6px; /* Ajustar el padding */
            margin: 2px; /* Reducir margen */
            border: 1px solid #4caf50; /* Bordes de botones */
            border-radius: 4px; /* Bordes más redondeados */
            background-color: #4caf50; /* Color de fondo de los botones */
            color: white;
            transition: background-color 0.3s, transform 0.3s;
            font-size: 0.8em; /* Tamaño de fuente reducido */
        }

            button:hover {
                background-color: #4caf50; /* Mantener el color al pasar el mouse */
                transform: translateY(-2px); /* Efecto al pasar el mouse */
            }

  
        a.btn-action, input[type=submit] {
            display: inline-block;
            text-decoration: none;
            padding: 8px 12px;
            margin: 4px;
            border: 1px solid #003d6b;
            border-radius: 5px;
            background-color: #003d6b;
            color: white;
            transition: background-color 0.3s, transform 0.3s;
        }

            a.btn-action:hover, input[type=submit]:hover {
                background-color: #002e5d;
                transform: translateY(-2px);
            }

        .submit {
            background-color: #003d6b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .submit:hover {
                background-color: #002e5d;
            }

        .custom-textarea {
            width: 100%;
            height: 150px;
            resize: none;
        }

        label, input[type="text"], select, .submit, h4 {
            font-size: 1em;
            font-weight: bold;
            color: #003d6b;
        }

        input[type="password"], input[type="text"], input[type="number"], select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #003d6b;
            border-radius: 4px;
            background-color: white;
        }

        .centered-button {
            display: flex;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
        }

        #warningMessagePen {
            display: block;
            overflow: auto;
            word-wrap: break-word;
        }    
    </style>
 
