@page "{id:int?}"
@model PPTT.Pages.PT.DetailsPPTT

@{

}

<div>
    <h3>Datos del solicitante</h3>
    <form>
    <dl class="row">          
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.IP_Solicitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.IP_Solicitante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Grado_Fk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Grado.Descripcion_Grado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Nombre_Solicitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Nombre_Solicitante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Apellido_Solicitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Apellido_Solicitante)
        </dd>        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.DNI_Solicitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.DNI_Solicitante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Numero_Control_Solicitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Numero_Control_Solicitante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.RTI_Solicitante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.RTI_Solicitante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Organismo_Fk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Organismo.Descripcion_organismo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Dependencia_Interna_Fk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Dependencia_Interna.Descripcion_Dependencia)
        </dd>
    </dl>
    </form>
    <h3>Datos del Trabajo</h3>  
    <form>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Fecha_Subida)
        </dt>        
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Fecha_Subida)
        </dd>      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Tarea_Fk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Tarea.Descripcion_Tarea)
        </dd>   
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Piso_Oficina_PT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Piso_Oficina_PT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Color_Oficina_PT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Color_Oficina_PT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.Numero_Oficina_PT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Numero_Oficina_PT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Prioridad_Fk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoTrabajo.Prioridad.Descripcion_Prioridad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoTrabajo.ID_Estado_Fk)
        </dt>
        <dd class="col-sm-10">
            <select asp-for="PedidoTrabajo.ID_Estado_Fk"
                    asp-items="Model.Estado.Select(d => new SelectListItem
            {
                Value = d.ID_Estado_PK.ToString(),
                Text = d.Descripcion_Estado
            })"
                    id="deptSelect"
                    class="formControl">
                <option value="" disabled selected hidden>@Model.PedidoTrabajo.Estado.Descripcion_Estado</option>
            </select>
        </dd>
    </dl>
    <div class="modal fade" id="ModalEstFin" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="FinalizarEstado">
                    <div class="modal-header">
                        <h5 class="modal-title" id="FinModalLabel">Finalizar pedido de trabajo</h5>
                    </div>
                    <div class="modal-body">
                        <label id="labelFechaFinalizado">Fecha de finalización:</label>
                        <input type="date" id="fechaFinalizacion" disabled />
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelaAsignacion" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>                
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO FINALIZADO -->
    <div class="modal fade" id="ModalEstCan" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="CancelarEstado">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CanModalLabel">Cancelar pedido de trabajo</h5>
                    </div>
                    <div class="modal-body">
                        <label id="labelFechaFinalizado">Fecha de cancelacion:</label>
                        <input type="date" id="fechaCan" disabled />
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelaAsignacion" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO CANCELAR -->
    <div class="modal fade" id="ModalEstSus" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="SuspenderEstado">
                    <div class="modal-header">
                        <h5 class="modal-title" id="SusModalLabel">Suspender Pedido de trabajo</h5>
                    </div>
                    <div class="modal-body">
                        <label id="labelFechaInicioSuspension">Fecha inicio de la suspensión:</label>
                        <input type="date" id="fechaInicioSuspendido" disabled />
                        <label id="labelFechaSuspension">Fecha estimada de retomo de trabajo:</label>
                        <br/>
                        <input type="date" id="fechaEstimadaFin" name="fechaEstimadaFin" />
                        <br />
                        <label id="labelMotivoSuspension">Motivo de suspensión:</label>
                        <select id="motivo" name="motivo">
                            <option value="Falta de material">Falta de material</option>
                            <option value="Falta de personal">Falta de personal</option>
                            <option value="Falta de herramientas">Falta de herramientas</option>
                            <option value="Condición riesgosa">Condición riesgosa</option>
                            <option value="A la espera de material">A la espera de material</option>
                        </select>
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelaAsignacion" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO SUSPENDIDO -->
    <div class="modal fade" id="ModalEstPro" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="EnProcesoEstado">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CanModalLabel">Asignar a usuario para pedido de trabajo</h5>
                    </div>
                    <div class="modal-body">
                        <select>
                            <option>Soy un usuario</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelaAsignacion" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO EN PROCESO -->
    <div class="modal fade" id="ModalEstPen" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" asp-page-handler="PendienteEstado">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CanModalLabel">Pasar a estado pendiente</h5>
                    </div>
                    <div class="modal-body">
                        <span id="warningMessagePen" class="alert alert-warning" style="display:none;">
                        ⚠️ <b>Advertencia</b>: Cambiar cualquier estado a <b>PENDIENTE</b> modificará los datos previamente registrados en otros estados.
                        </span>
                        <input type="hidden" name="OrdenTrabajoId" value="@Model.PedidoTrabajo.ID_Orden_Trabajo_Pk" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="cancelaAsignacion" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- VENTANA MODAL DE ESTADO PENDIENTE -->
    </form>
    <div>
        <a class="btn-action" asp-page="./Index">Volver a la Lista</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {        
        function getTodayDate() {
            var today = new Date();
            var day = ("0" + today.getDate()).slice(-2);
            var month = ("0" + (today.getMonth() + 1)).slice(-2);
            var year = today.getFullYear();
            return year + "-" + month + "-" + day;
        }

        $('#deptSelect').change(function (){
            var selectedOption = $(this).val();
            if (selectedOption == 1002) {
                $('#ModalEstPen').modal('show');                
            }
            if (selectedOption == 1003) {
                $('#ModalEstPro').modal('show');                
            }
            
            if (selectedOption == 1004) 
            {
                $('#ModalEstFin').modal('show');
                $('#fechaFinalizacion').val(getTodayDate());
            }
            if (selectedOption == 1005) 
            {
                $('#ModalEstSus').modal('show');
                $('#fechaInicioSuspendido').val(getTodayDate());
            }  
            if (selectedOption == 1006) 
            {
                $('#ModalEstCan').modal('show');
                $('#fechaCan').val(getTodayDate());
            }  
        });
    });
</script>
    <style>
        button {
            display: inline-block;
            text-decoration: none;
            padding: 4px 6px; /* Ajustar el padding */
            margin: 2px; /* Reducir margen */
            border: 1px solid #4caf50; /* Bordes de botones */
            border-radius: 4px; /* Bordes más redondeados */
            background-color: #4caf50; /* Color de fondo de los botones */
            color: white;
            transition: background-color 0.3s, transform 0.3s;
            font-size: 0.8em; /* Tamaño de fuente reducido */
        }

            button:hover {
                background-color: #4caf50; /* Mantener el color al pasar el mouse */
                transform: translateY(-2px); /* Efecto al pasar el mouse */
            }

        body {
            background-color: #e0e8f1;
        }

        h4 {
            color: #003d6b; /* Color azul para h4 y detalles */
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        h3 {
            font-size: 3em;
            color: #003d6b;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: bold;
        }


        dt {
            color: #003d6b; /* Color azul para los dt */
            font-weight: bold;
        }

        a.btn-action, input[type=submit] {
            display: inline-block;
            text-decoration: none;
            padding: 8px 12px;
            margin: 4px;
            border: 1px solid #003d6b;
            border-radius: 5px;
            background-color: #003d6b;
            color: white;
            transition: background-color 0.3s, transform 0.3s;
        }

            a.btn-action:hover, input[type=submit]:hover {
                background-color: #002e5d;
                transform: translateY(-2px);
            }

        form {
            align-items: center;
            justify-content: center;
            width: 65%;
            margin: 30px auto;
            padding: 20px;
            background-color: #e0e8f1;
            border: 1px solid #003d6b;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 61, 107, 0.2);
        }

        legend {
            font-size: 1.2em;
            color: #003d6b;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .submit {
            background-color: #003d6b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .submit:hover {
                background-color: #002e5d;
            }

        .custom-textarea {
            width: 100%;
            height: 150px;
            resize: none;
        }

        label, input[type="text"], select, .submit, h4 {
            font-size: 1em;
            font-weight: bold;
            color: #003d6b;
        }

        input[type="password"], input[type="text"], input[type="number"], select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #003d6b;
            border-radius: 4px;
            background-color: white;
        }

        .centered-button {
            display: flex;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
        }
    </style>
