@page
@model PPTT.Pages.Administradores.IndexAdminPTFin
@using X.PagedList.Mvc.Core
@using X.PagedList
@{
    ViewData["Title"] = "Finalizados";
}

<body>
    <div class="header-index-pt">        
        <a asp-page="./IndexAdmin" class="btn-header-pt">Volver a Index de trabajos</a>
        @{/*<div>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script> <!-- Cargar idioma español -->
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    flatpickr("#fechaInicio", {
                        dateFormat: "d-m-Y", // Formato dd-mm-yyyy
                        locale: "es", // Establecer el idioma a español
                    });
                    flatpickr("#fechaFin", {
                        dateFormat: "d-m-Y", // Formato dd-mm-yyyy
                        locale: "es", // Establecer el idioma a español
                    });
                });
            </script>
            <form method="get">
                <label for="fechaInicio">Fecha Inicio:</label>
                <input type="text" id="fechaInicio" name="fechaInicio" required />

                <label for="fechaFin">Fecha Fin:</label>
                <input type="text" id="fechaFin" name="fechaFin" required />

                <button type="button" id="filtrar" class="filtrar">Filtrar</button>
            </form>
        </div>*/ } <!-- FILTRAR POR FECHA -->
        <button id="btnExportar" class="btnExportar">Exportar Excel</button>
    </div>
<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Orden_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Fecha_Subida)
            </th>
            <th>
                <span>Fecha de Finalización</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Grado_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Apellido_Solicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Organismo_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].RTI_Solicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Numero_Oficina_PT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Division_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Tarea_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Estado_Fk)
            </th>          
            <th>
                Detalle/Estado
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var divisionUsuario = HttpContext.Session.GetInt32("Division");
            var divisionUsuario2 = HttpContext.Session.GetInt32("Division2");
        }
        @foreach (var item in Model.PedidoTrabajo)
        {            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Orden_Fk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Subida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Estimada_Fin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grado.Descripcion_Grado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido_Solicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organismo.Descripcion_organismo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RTI_Solicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_Oficina_PT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_Division_Fk)
                        </td>
                <td>
                    @Html.Raw(item.Tarea.Descripcion_Tarea.Length > 3 ?
                                item.Tarea.Descripcion_Tarea.Substring(0) :
                                item.Tarea.Descripcion_Tarea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Descripcion_Estado)
                </td>              
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID_Orden_Trabajo_Pk">Editar Estado</a>
                </td>
            </tr>           
        }
    </tbody>
</table>
    <div>
        @Html.PagedListPager(Model.PedidoTrabajo, page => Url.Page("./FinalizadosAdmin", new { pageNumber = page }), PagedListRenderOptions.Classic)
    </div>
</body>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="AsignarUsuario">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Asignación</h5>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de querer asignar a <b id="usuarioNombre"></b> para esta tarea?</p>
                    <input type="hidden" id="usuarioId" name="UsuarioId" />
                    <input type="hidden" id="ordenTrabajoId" name="OrdenTrabajoId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelaAsignacion" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>  <!-- VENTANA MODAL ASIGNACION -->
<div class="modal fade" id="confirmPrioridadModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="SetPrioridad">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Modificación</h5>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de cambiar la prioridad a <b id="prioridadDisplay"></b> para esta tarea?</p>
                    <input type="hidden" id="ordenTrabajo" name="OrdenTrabajoId" />
                    <input type="hidden" id="prioridadInput" name="PrioridadId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelaPrioridad" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- VENTANA MODAL PRIORIDAD -->


<!-- SCRIPTS PARA EXPORTAR AL EXCEL -->
<script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
<script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const $btnExportar = document.querySelector("#btnExportar"),
            $tabla = document.querySelector("#tabla");

        $btnExportar.addEventListener("click", function () {
            // Crear una nueva tabla para la exportación
            let exportTable = document.createElement('table');
            let exportTbody = document.createElement('tbody');
            exportTable.appendChild(exportTbody);

            // Agregar encabezados a la tabla exportada (excluyendo "Estados y Modificaciones")
            const headers = Array.from($tabla.querySelectorAll('thead th'));
            const newRow = document.createElement('tr');

            headers.forEach((header, index) => {
                if (header.textContent.trim() !== "Detalle/Estado") {
                    const newHeader = document.createElement('th');
                    newHeader.textContent = header.textContent;
                    newRow.appendChild(newHeader);
                }
            });

            exportTbody.appendChild(newRow);

            // Agregar datos a la tabla exportada
            const rows = Array.from($tabla.querySelectorAll('tbody tr'));

            rows.forEach(row => {
                const cells = Array.from(row.querySelectorAll('td'));
                const newRow = document.createElement('tr');

                cells.forEach((cell, index) => {
                    const header = headers[index];

                    // Excluir celdas de "Estados y Modificaciones"
                    if (header && header.textContent.trim() !== "Detalle/Estado") {
                        const newCell = document.createElement('td');
                        newCell.textContent = cell.textContent;
                        newRow.appendChild(newCell);
                    }
                });

                exportTbody.appendChild(newRow);
            });

            // Exportar la tabla utilizando la biblioteca XLSX
            const workbook = XLSX.utils.table_to_book(exportTable, { sheet: "Finalizados" });
            XLSX.writeFile(workbook, "Reporte Pedidos Trabajo Finalizado.xlsx");
        });
    });
</script> <!-- SCRIPTS PARA EXPORTAR A EXCEL -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {           
            $('select[id^="usuarioSelect_"]').each(function () {
                var usuarioSelect = $(this); 
                var selectedDivision = usuarioSelect.data('division-id');
                var ordenTrabajoId = usuarioSelect.closest('tr').find('span[id^="personalAsignado_"]').data('orden-id');
                var personalAsignado = $('#personalAsignado_' + ordenTrabajoId);
        
                if (selectedDivision && usuarioSelect.find('option').length <= 1) {
                    $.ajax({
                        url: '@Url.Page("./Index", "UsuariosFiltrados")',
                        type: 'GET',
                        data: { division: selectedDivision },
                        success: function (data) {                        
                            usuarioSelect.empty(); 
                            usuarioSelect.append('<option hidden selected value="">Seleccione el usuario</option>');
                            usuarioSelect.append('<option value="-1">Sin asignación</option>');
                            $.each(data, function (index, usuario) {
                                usuarioSelect.append('<option value="' + usuario.iD_Usuario_Pk + '">' + usuario.nombre + ' ' + usuario.apellido + '</option>');
                            });
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
                                 
                if (ordenTrabajoId) {
                    $.ajax({
                        url: '@Url.Page("./Index", "UsuarioPorPt")',
                        type: 'GET',
                        data: { PT: ordenTrabajoId }, 
                        success: function (data) {                              
                            if (data[0] == null) 
                            {
                                personalAsignado.empty();
                                personalAsignado.append('<span>No se asignó personal</span>');
                            }
                            else 
                            {
                                personalAsignado.empty();
                                personalAsignado.append('<span>' + data[0].nombre + ' ' + data[0].apellido + '</span>');
                            }                        
                        },
                        error: function (error) {
                            console.log('Error en la carga de información del usuario asignado:', error);
                        }
                    }); //SE COLOCA EL USUARIO ASIGNADO EN EL SPAN
                }
            }); //LISTADO DE USUARIOS
    
            $('select[id^="usuarioSelect_"]').change(function () {
                var selectedOption = $(this).find("option:selected");
                var selectedUsuarioId = selectedOption.val();
                var selectedOrdenTrabajoId = $(this).attr("id").split("_")[1];             
                $('#usuarioNombre').text(selectedOption.text()); 
                $('#usuarioId').val(selectedUsuarioId); 
                $('#ordenTrabajoId').val(selectedOrdenTrabajoId); 

                $('#confirmModal').modal('show'); 
            }); //EVENTO ONCHANGE EN EL SELECT

            $('.PrioridadSelect').change(function () {
                var selectedPrioridad = parseInt($(this).val());
                var ordenTrabajoId = parseInt($(this).closest('td').data('orden-trabajo-id'));                      
                $('#prioridadInput').val(selectedPrioridad);  
                $('#prioridadDisplay').text(selectedPrioridad);  
                $('#ordenTrabajo').val(ordenTrabajoId);                         
            
                $('#confirmPrioridadModal').modal('show');
            });                            

            $('#cancelaAsignacion').click(function () {            
                $('#confirmModal').modal('hide');
            });

            $('#cancelaPrioridad').click(function () {
                $('#confirmPrioridadModal').modal('hide');            
            });
        });
</script>
