@page
@model PPTT.Pages.Administradores.IndexPPTT

@{
    ViewData["Title"] = "Pedidos de trabajo";
}

<h3>Pedidos de Trabajo</h3>

<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Orden_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Fecha_Subida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Grado_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Apellido_Solicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Organismo_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].RTI_Solicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Numero_Oficina_PT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Tarea_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Estado_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Prioridad_Fk)
            </th>
            <th>
                <span>Asignar Personal</span>
            </th>
            <th>
                <span>Personal Asignado</span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PedidoTrabajo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Orden_Fk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Subida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grado.Descripcion_Grado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido_Solicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organismo.Descripcion_organismo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RTI_Solicitante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_Oficina_PT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.Raw(item.Tarea.Descripcion_Tarea.Length > 3 ?
                             item.Tarea.Descripcion_Tarea.Substring(3) :
                             item.Tarea.Descripcion_Tarea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Descripcion_Estado)
                </td>
                <td>
                    <div class="form-group">                        
                        <select asp-for="PT.ID_Prioridad_Fk"
                                asp-items="Model.Prioridad.Select(d=> new SelectListItem
                        {
                            Value = d.ID_Prioridad_Pk.ToString(),
                            Text = d.Descripcion_Prioridad
                        })"
                                id="PrioridadSelect"
                                class="formControl">
                            <option hidden selected value="">@item.Prioridad.Descripcion_Prioridad</option>
                        </select>
                        <span asp-validation-for="PT.ID_Prioridad_Fk" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">                        
                        <select id="usuarioSelect_@item.ID_Orden_Trabajo_Pk" class="formControl" data-division-id="@item.ID_Division_Fk">
                            <option hidden selected value="">Seleccione usuario a asignar</option>
                        </select>
                    </div>
                </td>
                <td>
                    <span id="personalAsignado_@item.ID_Orden_Trabajo_Pk" data-orden-id="@item.ID_Orden_Trabajo_Pk">
                        Personal asignado
                    </span>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID_Orden_Trabajo_Pk">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn-action" asp-page="/Administradores/Menu">Volver al Menu</a>
<button id="btnExportar">Exportar Excel</button>


<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="AsignarUsuario">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Asignación</h5>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de querer asignar a <b id="usuarioNombre"></b> para esta tarea?</p>
                    <input type="hidden" id="usuarioId" name="UsuarioId" />
                    <input type="hidden" id="ordenTrabajoId" name="OrdenTrabajoId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelaAsignacion" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>  <!-- VENTANA MODAL -->

<!-- SCRIPTS PARA EXPORTAR AL EXCEL -->
<script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
<script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const $btnExportar = document.querySelector("#btnExportar"),
            $tabla = document.querySelector("#tabla");

        $btnExportar.addEventListener("click", function () {
            let tableExport = new TableExport($tabla, {
                exportButtons: false, // No queremos botones adicionales
                ignoreColumns: [12, 13],
                filename: "Reporte de Peticiones de Trabajo", // Nombre del archivo de Excel
                sheetname: "Peticiones", // Título de la hoja
            });

            let datos = tableExport.getExportData();
            let preferenciasDocumento = datos.tabla.xlsx;

            tableExport.export2file(
                preferenciasDocumento.data,
                preferenciasDocumento.mimeType,
                preferenciasDocumento.filename,
                preferenciasDocumento.fileExtension,
                preferenciasDocumento.merges,
                preferenciasDocumento.RTL,
                preferenciasDocumento.sheetname
            );
        });
    });
</script> <!-- SCRIPTS PARA EXPORTAR A EXCEL -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {
        $('select[id^="usuarioSelect_"]').each(function () {
            var usuarioSelect = $(this); 
            var selectedDivision = usuarioSelect.data('division-id');
            var ordenTrabajoId = usuarioSelect.closest('tr').find('span[id^="personalAsignado_"]').data('orden-id');
            var personalAsignado = $('#personalAsignado_' + ordenTrabajoId);
        
            if (selectedDivision && usuarioSelect.find('option').length <= 1) {
                $.ajax({
                    url: '@Url.Page("./Index", "UsuariosFiltrados")',
                    type: 'GET',
                    data: { division: selectedDivision },
                    success: function (data) {                        
                        usuarioSelect.empty(); 
                        usuarioSelect.append('<option hidden selected value="">Seleccione el usuario</option>');
                        $.each(data, function (index, usuario) {
                            usuarioSelect.append('<option value="' + usuario.iD_Usuario_Pk + '">' + usuario.nombre + ' ' + usuario.apellido + '</option>');
                        });
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            }
                                 
            if (ordenTrabajoId) {
                $.ajax({
                    url: '@Url.Page("./Index", "UsuarioPorPt")',
                    type: 'GET',
                    data: { PT: ordenTrabajoId }, 
                    success: function (data) {      
                        console.log(data);
                        if (data[0] == null) 
                        {
                            personalAsignado.empty();
                            personalAsignado.append('<span>No se asignó personal</span>');
                        }
                        else 
                        {
                            personalAsignado.empty();
                            personalAsignado.append('<span>' + data[0].nombre + ' ' + data[0].apellido + '</span>');
                        }                        
                    },
                    error: function (error) {
                        console.log('Error en la carga de información del usuario asignado:', error);
                    }
                }); //SE COLOCA EL USUARIO ASIGNADO EN EL SPAN
            }
        }); //LISTADO DE USUARIOS
    
        $('select[id^="usuarioSelect_"]').change(function () {
            var selectedOption = $(this).find("option:selected");
            var selectedUsuarioId = selectedOption.val();
            var selectedOrdenTrabajoId = $(this).attr("id").split("_")[1];             
            $('#usuarioNombre').text(selectedOption.text()); 
            $('#usuarioId').val(selectedUsuarioId); 
            $('#ordenTrabajoId').val(selectedOrdenTrabajoId); 

            $('#confirmModal').modal('show'); 
        }); //EVENTO ONCHANGE EN EL SELECT

        $('#confirmarAsignacion').click(function () {
            var usuarioId = $('#usuarioId').val();
            var ordenTrabajoId = $('#ordenTrabajoId').val();
            console.log(usuarioId);
            console.log(ordenTrabajoId);
            $.ajax({
                url: '@Url.Page("./Index", "AsignarUsuario")',
                type: 'POST',
                data: { UsuarioId: usuarioId, OrdenTrabajoId: ordenTrabajoId },
                success: function (response) {
                    $('#confirmModal').modal('hide');
                    alert("Usuario asignado con éxito");
                    location.reload();
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }); //EVENTO ONCLICK CONFIRMAR ASIGNACION EN LA VENTANA MODAL       

        $('#cancelaAsignacion').click(function () {            
            $('#confirmModal').modal('hide');
        }); //EVENTO ONCLICK CANCELAR ASIGNACION EN LA VENTANA MODAL
        });
</script>


<style>
    body {
        align-items: center;
        justify-content: center;
        width: 105%;
        margin: 30px auto;
        padding: 20px;
        background-color: #e0e8f1;       
    }

    a.btn-action {
        display: inline-block;
        text-decoration: none;
        padding: 8px 12px;
        margin: 4px;
        border: 1px solid #003d6b;
        border-radius: 5px;
        background-color: #003d6b;
        color: white;
        transition: background-color 0.3s, transform 0.3s;
    }

        a.btn-action:hover {
            background-color: #002e5d;
            transform: translateY(-2px);
        }

    button {
        display: inline-block;
        text-decoration: none;
        padding: 8px 12px;
        margin: 4px;
        border: 1px solid #4caf50;
        border-radius: 5px;
        background-color: #4caf50;
        color: white;
        transition: background-color 0.3s, transform 0.3s;
    }

        button:hover {
            background-color: #002e5d;
            transform: translateY(-2px);
        }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;   
    }

    th {
        background-color: #e0e8f1;
        color: #003d6b;
    }

    h3 {
        font-size: 3em;
        color: #003d6b;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }
</style> 