@page
@model PPTT.Pages.Administradores.IndexAdminPTPPTT

@{
    ViewData["Title"] = "Pedidos de trabajo";
}
<body>
    <div class="header-index-pt">
        <a asp-page="./FinalizadosAdmin" class="btn-header-pt">Trabajos Finalizados</a>
        @{/*<div>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script> <!-- Cargar idioma español -->
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    flatpickr("#fechaInicio", {
                        dateFormat: "d-m-Y", // Formato dd-mm-yyyy
                        locale: "es", // Establecer el idioma a español
                    });
                    flatpickr("#fechaFin", {
                        dateFormat: "d-m-Y", // Formato dd-mm-yyyy
                        locale: "es", // Establecer el idioma a español
                    });
                });
            </script>
            <form method="get">
                <label for="fechaInicio">Fecha Inicio:</label>
                <input type="text" id="fechaInicio" name="fechaInicio" required />

                <label for="fechaFin">Fecha Fin:</label>
                <input type="text" id="fechaFin" name="fechaFin" required />

                <button type="button" id="filtrar" class="filtrar">Filtrar</button>
            </form>
        </div> */}<!-- FILTRAR POR FECHA -->
        <button id="btnExportar" class="btnExportar">Exportar Excel</button>
    </div>
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Orden_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Fecha_Subida)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Grado_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Apellido_Solicitante)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Organismo_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].RTI_Solicitante)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Numero_Oficina_PT)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Correo)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Division_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Tarea_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Observacion)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Estado_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Prioridad_Fk)</th>
                <th><span>Asignar Personal</span></th>
                <th><span>Personal Asignado</span></th>
                <th>Detalle/Estado</th>
            </tr>
        </thead>
        <tbody>
            @{
                var divisionUsuario = HttpContext.Session.GetInt32("Division");
                var divisionUsuario2 = HttpContext.Session.GetInt32("Division2");
            }

            @foreach (var item in Model.PedidoTrabajo)
            {
                if ((item.ID_Estado_Fk != 1004 && item.ID_Estado_Fk != 1006) && (item.ID_Division_Fk == divisionUsuario || item.ID_Division_Fk == divisionUsuario2))
                {
                    <tr data-fecha="@item.Fecha_Subida?.ToString("yyyy-MM-dd") ?? " 0001-01-01"">
                        <td>@Html.DisplayFor(modelItem => item.ID_Orden_Fk)</td>
                        <td>
                            @if (item.Fecha_Subida.HasValue)
                            {
                                @item.Fecha_Subida.Value.ToString("dd-MM-yyyy")
                            }
                            else
                            {
                                @:01-01-0001
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Grado.Descripcion_Grado)</td>
                        <td>@Html.DisplayFor(modelItem => item.Apellido_Solicitante)</td>
                        <td>@Html.DisplayFor(modelItem => item.Organismo.Descripcion_organismo)</td>
                        <td>@Html.DisplayFor(modelItem => item.RTI_Solicitante)</td>
                        <td>@Html.DisplayFor(modelItem => item.Numero_Oficina_PT)</td>
                        <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Division.Descripcion_Division)</td><!-- Asegúrate de mostrar esta celda -->
                        <td>
                            @Html.Raw(item.Tarea.Descripcion_Tarea.Length > 3 ?
                                     item.Tarea.Descripcion_Tarea.Substring(0) :
                                     item.Tarea.Descripcion_Tarea)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Observacion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado.Descripcion_Estado)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prioridad.Descripcion_Prioridad)</td>
                        <!--<td data-orden-trabajo-id="@item.ID_Orden_Trabajo_Pk">
                            <div class="form-group">
                                <select asp-for="PT.ID_Prioridad_Fk"
                                        asp-items="@(new SelectList(Model.Prioridad, "ID_Prioridad_Pk", "Descripcion_Prioridad"))"
                                        class="PrioridadSelect formControl">
                                    <option hidden selected value="">@item.Prioridad.Descripcion_Prioridad</option>
                                </select>
                                <span asp-validation-for="PT.ID_Prioridad_Fk" class="text-danger"></span>
                            </div>
                        </td>-->
                        <td>
                            <div class="form-group">
                                <select id="usuarioSelect_@item.ID_Orden_Trabajo_Pk" class="formControl" data-division-id="@item.ID_Division_Fk">
                                    <option hidden selected value="">Selecciona un usuario</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <span id="personalAsignado_@item.ID_Orden_Trabajo_Pk" data-orden-id="@item.ID_Orden_Trabajo_Pk">
                                Personal asignado
                            </span>
                        </td>
                        <td>
                            <a asp-page="./Details" class="btn-action" asp-route-id="@item.ID_Orden_Trabajo_Pk">Ir a Detalle</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
    <div class="pagination">
        @if (Model.PedidoTrabajo.HasPreviousPage)
        {
            <a asp-page="./Index" asp-route-pageIndex="@(Model.PedidoTrabajo.PageIndex - 1)" class="pag">Anterior</a>
        }

        @for (int i = 1; i <= Model.PedidoTrabajo.TotalPages; i++)
        {
            <a asp-page="./Index" asp-route-pageIndex="@i" class="pag">@i</a>
        }

        @if (Model.PedidoTrabajo.HasNextPage)
        {
            <a asp-page="./Index" asp-route-pageIndex="@(Model.PedidoTrabajo.PageIndex + 1)" class="pag">Siguiente</a>
        }
    </div>
</body>

<script>
    function formatDateInput(input) {
        let value = input.value.replace(/[^0-9]/g, ''); // Eliminar caracteres no numéricos
        if (value.length >= 2) {
            value = value.slice(0, 2) + '-' + value.slice(2); // Añadir el primer guion
        }
        if (value.length >= 5) {
            value = value.slice(0, 5) + '-' + value.slice(5); // Añadir el segundo guion
        }
        input.value = value;
    }

    document.getElementById('fechaInicio').addEventListener('input', function () {
        formatDateInput(this);
    });

    document.getElementById('fechaFin').addEventListener('input', function () {
        formatDateInput(this);
    });

    document.getElementById('filtrar').addEventListener('click', function () {
        const startDateInput = document.getElementById('fechaInicio').value;
        const endDateInput = document.getElementById('fechaFin').value;

        const startDate = new Date(startDateInput.split('-').reverse().join('-'));
        const endDate = new Date(endDateInput.split('-').reverse().join('-'));

        const rows = document.querySelectorAll('#tabla tbody tr');

        rows.forEach(row => {
            const fechaSubida = row.getAttribute('data-fecha');
            const fecha = new Date(fechaSubida);

            if ((isNaN(startDate) || fecha >= startDate) && (isNaN(endDate) || fecha <= endDate)) {
                row.style.display = ''; // Mostrar fila
            } else {
                row.style.display = 'none'; // Ocultar fila
            }
        });
    });
</script>


<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="AAsignarUsuario">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Asignación</h5>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de querer asignar a <b id="usuarioNombre"></b> para esta tarea?</p>
                    <input type="hidden" id="usuarioId" name="UsuarioId" />
                    <input type="hidden" id="ordenTrabajoId" name="OrdenTrabajoId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelaAsignacion" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>  <!-- VENTANA MODAL ASIGNACION -->
<div class="modal fade" id="confirmPrioridadModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="ASetPrioridad">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Modificación</h5>
                </div>
                <div class="modal-body">
                    <span id="warningMessagePen" class="alert alert-warning">
                        <b>Advertencia:</b> Estás a punto de cambiar la prioridad de esta orden. Por favor, confirma que deseas proceder.
                    </span>
                    <input type="hidden" id="ordenTrabajo" name="OrdenTrabajoId" />
                    <input type="hidden" id="prioridadInput" name="PrioridadId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelaPrioridad" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- VENTANA MODAL PRIORIDAD -->


<!-- SCRIPTS PARA EXPORTAR AL EXCEL -->
<script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
<script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const $btnExportar = document.querySelector("#btnExportar"),
            $tabla = document.querySelector("#tabla");

        $btnExportar.addEventListener("click", function () {
            // Crear una nueva tabla para la exportación
            let exportTable = document.createElement('table');
            let exportTbody = document.createElement('tbody');
            exportTable.appendChild(exportTbody);

            // Agregar encabezados a la tabla exportada (excluyendo "Detalle/Estado" y "Asignar Personal")
            const headers = Array.from($tabla.querySelectorAll('thead th'));
            const newRow = document.createElement('tr');

            headers.forEach((header, index) => {
                if (header.textContent.trim() !== "Detalle/Estado" && header.textContent.trim() !== "Asignar Personal") {
                    const newHeader = document.createElement('th');
                    newHeader.textContent = header.textContent;
                    newRow.appendChild(newHeader);
                }
            });

            exportTbody.appendChild(newRow);

            // Agregar datos a la tabla exportada
            const rows = Array.from($tabla.querySelectorAll('tbody tr'));

            rows.forEach(row => {
                const cells = Array.from(row.querySelectorAll('td'));
                const newRow = document.createElement('tr');

                cells.forEach((cell, index) => {
                    const header = headers[index];

                    // Excluir celdas de "Detalle/Estado" y "Asignar Personal"
                    if (header && header.textContent.trim() !== "Detalle/Estado" && header.textContent.trim() !== "Asignar Personal") {
                        const newCell = document.createElement('td');

                        // Mostrar solo la opción seleccionada en "Prioridad"
                        if (header.textContent.trim() === "Prioridad") {
                            const selectedOption = cell.querySelector('select option:checked');
                            newCell.textContent = selectedOption ? selectedOption.textContent : '';
                        }
                        // Mostrar contenido de "Personal asignado"
                        else if (header.textContent.trim() === "Personal asignado") {
                            newCell.textContent = cell.textContent.trim();
                        } else {
                            newCell.textContent = cell.textContent;
                        }

                        newRow.appendChild(newCell);
                    }
                });

                exportTbody.appendChild(newRow);
            });

            // Exportar la tabla utilizando la biblioteca XLSX
            const workbook = XLSX.utils.table_to_book(exportTable, { sheet: "Pedidos" });
            XLSX.writeFile(workbook, "Reporte Pedidos Trabajo.xlsx");
        });
    });


</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
        $(document).ready(function () {                       
            $('select[id^="usuarioSelect_"]').each(function () {
                var usuarioSelect = $(this); 
                var selectedDivision = usuarioSelect.data('division-id');
                var ordenTrabajoId = usuarioSelect.closest('tr').find('span[id^="personalAsignado_"]').data('orden-id');
                var personalAsignado = $('#personalAsignado_' + ordenTrabajoId);
        
                if (selectedDivision && usuarioSelect.find('option').length <= 1) {
                    $.ajax({
                        url: '@Url.Page("./Index", "UsuariosFiltrados")',
                        type: 'GET',
                        data: { division: selectedDivision },
                        success: function (data) {                        
                            usuarioSelect.empty(); 
                            usuarioSelect.append('<option hidden selected value="">Seleccione el usuario</option>');
                            usuarioSelect.append('<option value="-1">Sin asignación</option>');
                            $.each(data, function (index, usuario) {
                                usuarioSelect.append('<option value="' + usuario.iD_Usuario_Pk + '">' + usuario.nombre + ' ' + usuario.apellido + '</option>');
                            });
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
                                 
                if (ordenTrabajoId) {
                    $.ajax({
                        url: '@Url.Page("./Index", "UsuarioPorPt")',
                        type: 'GET',
                        data: { PT: ordenTrabajoId }, 
                        success: function (data) {                              
                            if (data[0] == null) 
                            {
                                personalAsignado.empty();
                                personalAsignado.append('<span>No se asignó personal</span>');
                            }
                            else 
                            {
                                personalAsignado.empty();
                                personalAsignado.append('<span>' + data[0].nombre + ' ' + data[0].apellido + '</span>');
                            }                        
                        },
                        error: function (error) {
                            console.log('Error en la carga de información del usuario asignado:', error);
                        }
                    }); //SE COLOCA EL USUARIO ASIGNADO EN EL SPAN
                }
            }); //LISTADO DE USUARIOS
    
            $('select[id^="usuarioSelect_"]').change(function () {
                var selectedOption = $(this).find("option:selected");
                var selectedUsuarioId = selectedOption.val();
                var selectedOrdenTrabajoId = $(this).attr("id").split("_")[1];             
                $('#usuarioNombre').text(selectedOption.text()); 
                $('#usuarioId').val(selectedUsuarioId); 
                $('#ordenTrabajoId').val(selectedOrdenTrabajoId); 

                $('#confirmModal').modal('show'); 
            }); //EVENTO ONCHANGE EN EL SELECT

            $('.PrioridadSelect').change(function () {
                var selectedPrioridad = parseInt($(this).val());
                var ordenTrabajoId = parseInt($(this).closest('td').data('orden-trabajo-id'));                      
                $('#prioridadInput').val(selectedPrioridad);  
                $('#prioridadDisplay').text(selectedPrioridad);  
                $('#ordenTrabajo').val(ordenTrabajoId);                         
            
                $('#confirmPrioridadModal').modal('show');
            });                            

            $('#cancelaAsignacion').click(function () {
                location.reload();
                $('#confirmModal').modal('hide');
            });

            $('#cancelaPrioridad').click(function () {
                location.reload();
                $('#confirmPrioridadModal').modal('hide');            
            });
        });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

