@page
@model PPTT.Pages.Administradores.IndexAdminPTPPTT
@using X.PagedList.Mvc.Core
@using X.PagedList

@{
    ViewData["Title"] = "Pedidos de trabajo";
}

<body>
    <div class="header-index-pt">
        <a asp-page="./FinalizadosAdmin" class="btn-header-pt">Trabajos Finalizados</a>
        <button id="btnExportar" class="btnExportar">Exportar Excel</button>
    </div>

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Orden_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Fecha_Subida)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Grado_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Apellido_Solicitante)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Organismo_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].RTI_Solicitante)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Numero_Oficina_PT)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Correo)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Division_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Tarea_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Observacion)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Estado_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Prioridad_Fk)</th>
                <th>Personal Asignado</th>
                <th>Detalle/Estado</th>
            </tr>
        </thead>
        <tbody>
            @{
                var divisionUsuario = HttpContext.Session.GetInt32("Division");
                var divisionUsuario2 = HttpContext.Session.GetInt32("Division2");
            }

            @foreach (var item in Model.PedidoTrabajo)
            {
                if ((item.ID_Estado_Fk != 1004 && item.ID_Estado_Fk != 1006) &&
                (item.ID_Division_Fk == divisionUsuario || item.ID_Division_Fk == divisionUsuario2))
                {
                    <tr data-fecha="@item.Fecha_Subida?.ToString("yyyy-MM-dd") ?? " 0001-01-01"">
                        <td>@Html.DisplayFor(modelItem => item.ID_Orden_Fk)</td>
                        <td>@item.Fecha_Subida?.ToString("dd-MM-yyyy")</td>
                        <td>@Html.DisplayFor(modelItem => item.Grado.Descripcion_Grado)</td>
                        <td>@Html.DisplayFor(modelItem => item.Apellido_Solicitante)</td>
                        <td>@Html.DisplayFor(modelItem => item.Organismo.Descripcion_organismo)</td>
                        <td>@Html.DisplayFor(modelItem => item.RTI_Solicitante)</td>
                        <td>@Html.DisplayFor(modelItem => item.Numero_Oficina_PT)</td>
                        <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Division.Descripcion_Division)</td>
                        <td>@Html.Raw(item.Tarea.Descripcion_Tarea.Length > 3 ? item.Tarea.Descripcion_Tarea : item.Tarea.Descripcion_Tarea)</td>
                        <td>@Html.DisplayFor(modelItem => item.Observacion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado.Descripcion_Estado)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prioridad.Descripcion_Prioridad)</td>                        
                        <td>
                            @if (item.ID_Estado_Fk == 1003)
                            {
                                <span class="usuario-estado" data-pedido-id="@item.ID_Orden_Trabajo_Pk">Cargando...</span>
                            }
                            else
                            {
                                <span>No se asignó personal</span>
                            }
                        </td>
                        <td>
                            <a asp-page="./Details" class="" asp-route-id="@item.ID_Orden_Trabajo_Pk">Ir a Detalle</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div>
        @Html.PagedListPager(Model.PedidoTrabajo, page => Url.Page("./IndexAdmin", new { pageNumber = page }), PagedListRenderOptions.Classic)
    </div>
</body>
<script>
    function formatDateInput(input) {
        let value = input.value.replace(/[^0-9]/g, ''); 
        if (value.length >= 2) {
            value = value.slice(0, 2) + '-' + value.slice(2); 
        }
        if (value.length >= 5) {
            value = value.slice(0, 5) + '-' + value.slice(5); 
        }
        input.value = value;
    }

    document.getElementById('fechaInicio').addEventListener('input', function () {
        formatDateInput(this);
    });

    document.getElementById('fechaFin').addEventListener('input', function () {
        formatDateInput(this);
    });

    document.getElementById('filtrar').addEventListener('click', function () {
        const startDateInput = document.getElementById('fechaInicio').value;
        const endDateInput = document.getElementById('fechaFin').value;

        const startDate = new Date(startDateInput.split('-').reverse().join('-'));
        const endDate = new Date(endDateInput.split('-').reverse().join('-'));

        const rows = document.querySelectorAll('#tabla tbody tr');

        rows.forEach(row => {
            const fechaSubida = row.getAttribute('data-fecha');
            const fecha = new Date(fechaSubida);

            if ((isNaN(startDate) || fecha >= startDate) && (isNaN(endDate) || fecha <= endDate)) {
                row.style.display = ''; // Mostrar fila
            } else {
                row.style.display = 'none'; // Ocultar fila
            }
        });
    });
</script>


<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="AAsignarUsuario">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Asignación</h5>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de querer asignar a <b id="usuarioNombre"></b> para esta tarea?</p>
                    <input type="hidden" id="usuarioId" name="UsuarioId" />
                    <input type="hidden" id="ordenTrabajoId" name="OrdenTrabajoId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelaAsignacion" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>  <!-- VENTANA MODAL ASIGNACION -->
<div class="modal fade" id="confirmPrioridadModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="ASetPrioridad">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Modificación</h5>
                </div>
                <div class="modal-body">
                    <span id="warningMessagePen" class="alert alert-warning">
                        <b>Advertencia:</b> Estás a punto de cambiar la prioridad de esta orden. Por favor, confirma que deseas proceder.
                    </span>
                    <input type="hidden" id="ordenTrabajo" name="OrdenTrabajoId" />
                    <input type="hidden" id="prioridadInput" name="PrioridadId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelaPrioridad" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- VENTANA MODAL PRIORIDAD -->


<!-- SCRIPTS PARA EXPORTAR AL EXCEL -->
<script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
<script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const $btnExportar = document.querySelector("#btnExportar"),
            $tabla = document.querySelector("#tabla");

        $btnExportar.addEventListener("click", function () {
            // Crear una nueva tabla para la exportación
            let exportTable = document.createElement('table');
            let exportTbody = document.createElement('tbody');
            exportTable.appendChild(exportTbody);

            // Agregar encabezados a la tabla exportada (excluyendo "Detalle/Estado" y "Asignar Personal")
            const headers = Array.from($tabla.querySelectorAll('thead th'));
            const newRow = document.createElement('tr');

            headers.forEach((header, index) => {
                if (header.textContent.trim() !== "Detalle/Estado" && header.textContent.trim() !== "Asignar Personal") {
                    const newHeader = document.createElement('th');
                    newHeader.textContent = header.textContent;
                    newRow.appendChild(newHeader);
                }
            });

            exportTbody.appendChild(newRow);

            // Agregar datos a la tabla exportada
            const rows = Array.from($tabla.querySelectorAll('tbody tr'));

            rows.forEach(row => {
                const cells = Array.from(row.querySelectorAll('td'));
                const newRow = document.createElement('tr');

                cells.forEach((cell, index) => {
                    const header = headers[index];

                    // Excluir celdas de "Detalle/Estado" y "Asignar Personal"
                    if (header && header.textContent.trim() !== "Detalle/Estado" && header.textContent.trim() !== "Asignar Personal") {
                        const newCell = document.createElement('td');

                        // Mostrar solo la opción seleccionada en "Prioridad"

                        // Mostrar contenido de "Personal asignado"
                        if (header.textContent.trim() === "Personal asignado") {
                            newCell.textContent = cell.textContent.trim();
                        } else {
                            newCell.textContent = cell.textContent;
                        }

                        newRow.appendChild(newCell);
                    }
                });

                exportTbody.appendChild(newRow);
            });

            // Exportar la tabla utilizando la biblioteca XLSX
            const workbook = XLSX.utils.table_to_book(exportTable, { sheet: "Pedidos" });
            XLSX.writeFile(workbook, "Reporte Pedidos Trabajo.xlsx");
        });
    });


</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".usuario-estado").each(function () {
            const idPedidoTrabajo = $(this).data("pedido-id");
            cargarUsuario(idPedidoTrabajo, $(this));
        });
    });
    function cargarUsuario(idPedidoTrabajo, elemento) {
        $.ajax({
            url: '@Url.Page("./Index", "UsuarioPorPt")',
            type: 'GET',
            data: { idPedidoTrabajo },
            success: function (response) {
                if (response.success) {
                    elemento.text(response.nombre + " " + response.apellido);
                } else {
                    elemento.text("Error: " + response.message);
                }
            },
            error: function () {
                elemento.text("Error al cargar el usuario");
            }
        });
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

