@page
@model PPTT.Pages.Vistas.VerTrabajo.VerTrabajoPPTT

@{
    ViewData["Title"] = "Pedidos de trabajo";
}
<body>
    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Orden_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Fecha_Subida)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Grado_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Apellido_Solicitante)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Organismo_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].RTI_Solicitante)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Numero_Oficina_PT)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Correo)</th>                
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Tarea_Fk)</th>
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].Observacion)</th>                
                <th>@Html.DisplayNameFor(model => model.PedidoTrabajo[0].ID_Prioridad_Fk)</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PedidoTrabajo != null && Model.PedidoTrabajo.Any())
            {
                foreach (var item in Model.PedidoTrabajo)
                {
                    if (item.ID_Estado_Fk != 1004 && item.ID_Estado_Fk != 1006)
                    {
                        <tr data-fecha="@item.Fecha_Subida?.ToString("yyyy-MM-dd") ?? " 0001-01-01"">
                            <td>@Html.DisplayFor(modelItem => item.ID_Orden_Fk)</td>
                            <td>
                                @if (item.Fecha_Subida.HasValue)
                                {
                                    @item.Fecha_Subida.Value.ToString("dd-MM-yyyy")
                                }
                                else
                                {
                                    @:01-01-0001
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Grado.Descripcion_Grado)</td>
                            <td>@Html.DisplayFor(modelItem => item.Apellido_Solicitante)</td>
                            <td>@Html.DisplayFor(modelItem => item.Organismo.Descripcion_organismo)</td>
                            <td>@Html.DisplayFor(modelItem => item.RTI_Solicitante)</td>
                            <td>@Html.DisplayFor(modelItem => item.Numero_Oficina_PT)</td>
                            <td>@Html.DisplayFor(modelItem => item.Correo)</td>                            
                            <td>
                                @Html.Raw(item.Tarea.Descripcion_Tarea.Length > 3 ?
                                         item.Tarea.Descripcion_Tarea.Substring(0) :
                                         item.Tarea.Descripcion_Tarea)
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Observacion)</td>                            
                            <td data-orden-trabajo-id="@item.ID_Orden_Trabajo_Pk">
                                <div class="form-group">
                                    <span class="form-control-plaintext">@item.Prioridad?.Descripcion_Prioridad</span>
                                </div>
                            </td>
                            <td>
                                <a asp-page="./Details" class="btn-action" asp-route-id="@item.ID_Orden_Trabajo_Pk">Ir</a>
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td colspan="15">No hay pedidos de trabajo disponibles.</td>
                </tr>
            }
        </tbody>
    </table>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



 
