@page
@using PPTT.Data
@model PPTT.Pages.Administradores.DeleteModel

@{
    ViewData["Title"] = "Borrar";

    // Recuperar el diccionario de servicios de la sesión
    var servicios = HttpContext.Session.GetObject<Dictionary<int, string>>("Servicios");

    // Recuperar las divisiones de la sesión o crear un diccionario similar
    var divisiones = new Dictionary<int, string>
    {
        { 1, "División Comunicaciones e Informática" },
        { 2, "División Mantenimiento de Instalaciones" }
    };
}

<div class="page-content">
    <div class="form-alta">
        <div class="formulario">
            <legend>Baja de usuario</legend>
            <hr />
            <form method="post" onsubmit="return confirmDelete()">
                <div>
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Admin.Nombre)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Admin.Nombre)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Admin.Apellido)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Admin.Apellido)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Admin.DNI)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Admin.DNI)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Admin.Numero_Control)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Admin.Numero_Control)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Admin.Correo)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Admin.Correo)
                        </dd>
                        <dt class="col-sm-4">
                            División
                        </dt>
                        <dd class="col-sm-8">
                            @if (Model.Admin.ID_Division_Fk == null)
                            {
                                @:No se le asignó una división
                            }
                            else if (divisiones.ContainsKey(Model.Admin.ID_Division_Fk.Value))
                            {
                                @divisiones[Model.Admin.ID_Division_Fk.Value]
                            }
                            else
                            {
                                @:División no reconocida
                            }
                        </dd>
                        <dt class="col-sm-4">
                            Servicio
                        </dt>
                        <dd class="col-sm-8">
                            @if (Model.Admin.ID_Servicio_Fk == null)
                            {
                                @:No se le asignó un servicio
                            }
                            else if (servicios != null && servicios.ContainsKey(Model.Admin.ID_Servicio_Fk.Value))
                            {
                                @servicios[Model.Admin.ID_Servicio_Fk.Value]
                            }
                            else
                            {
                                @:Servicio no reconocido
                            }
                        </dd>
                    </dl>
                    <input type="hidden" asp-for="Admin.ID_Usuario_Pk" />
                    <input type="submit" value="Dar de baja" class="submit-log" style="background-color: #C70039" />
                </div>
            </form>
            <div class="centered-button">
                <a asp-page="./Index" type="boton" class="btn-action">Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete() {
        return confirm("¿Está seguro de que desea dar de baja a este usuario?");
    }
</script>
