@page
@using PPTT.Data
@model PPTT.Pages.Administradores.DetailsModel

@{
    ViewData["Title"] = "Detalles del Administrador";
    // Recuperar el diccionario de servicios de la sesión
    var servicios = HttpContext.Session.GetObject<Dictionary<int, string>>("Servicios");

    // Debug: Imprimir el contenido del diccionario
    if (servicios != null)
    {
        foreach (var kvp in servicios)
        {
            Console.WriteLine($"Key: {kvp.Key}, Value: {kvp.Value}");
        }
    }
    else
    {
        Console.WriteLine("No se encontraron servicios en la sesión.");
    }
}

<div class="page-content">
    <div class="form-alta">
        <div class="formulario">
            <legend>Detalle de usuario</legend>
            <hr />
<form>
    <body>
        <div>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Admin.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Admin.Nombre)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Admin.Apellido)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Admin.Apellido)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Admin.DNI)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Admin.DNI)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Admin.Numero_Control)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Admin.Numero_Control)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Admin.Correo)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Admin.Correo)
                </dd>

                <!-- División -->
                <dt class="col-sm-4">
                    División
                </dt>
                <dd class="col-sm-8">
                    @if (Model.Admin.ID_Division_Fk == null)
                    {
                        @:No se le asignó una división
                    }
                    else if (Model.Admin.ID_Division_Fk == 1)
                    {
                        @:División Comunicaciones e Informática
                    }
                    else
                    {
                        @:División Mantenimiento de Instalaciones
                    }
                </dd>

                <!-- Servicio -->
                <dt class="col-sm-4">
                    Servicio
                </dt>
                <dd class="col-sm-8">
                    @if (Model.Admin.ID_Servicio_Fk == null)
                    {
                        @:No se le asignó un servicio
                    }
                    else if (servicios != null && servicios.ContainsKey(Model.Admin.ID_Servicio_Fk.Value))
                    {
                        @servicios[Model.Admin.ID_Servicio_Fk.Value]
                    }
                    else
                    {
                        @:Servicio no reconocido
                    }
                </dd>
            </dl>
        </div>
    </body>
</form>
</div>
    </div>
    <div class="centered-button">
        <a asp-page="./Edit" asp-route-id="@Model.Admin.ID_Usuario_Pk" class="btn-action">Editar</a>|
        @{
            int _rol = HttpContext.Session.GetInt32("UserRole") ?? 0;
        }
        @if (_rol == 3)
        {
            <a class="btn-action" asp-page="./Index" type="boton" class="btn-action">Volver a la Lista</a>
        }
        else
        {
            <a class="btn-action" asp-page="./IndexAdminU">Volver a la Lista</a>
        }
    </div>
        </div>

<style>
    #warningMessagePen {
        display: block;
        overflow: auto;
        word-wrap: break-word;
    }
</style>
