@page
@model PPTT.Pages.Administradores.IndexModel

@{
    ViewData["Title"] = "ABM usuario";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].Numero_Control)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].ID_Division_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].ID_Servicio_Fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin[0].Fecha_Alta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Admin) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Control)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>            
                <td> 
                    @if (item.ID_Division_Fk == null)
                    {
                        @:No se le asignó una división
                    }
                    else if(item.ID_Division_Fk == 2)
                    {
                        @:División Mantenimiento de Instalaciones
                    }
                    else
                    {
                        @:División Comunicaciones e Informática                        
                    }
                </td>          
            <td>                    
                Servicio
            </td>
            <td>
                    @item.Fecha_Alta?.ToShortDateString()
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID_Usuario_Pk">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID_Usuario_Pk">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID_Usuario_Pk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
